@import './variables.scss';

@import './scrollbar.scss';

.container {
  max-width: 1100px;
  padding: 20px;
  color: #fff;
}
@media (max-width: 768px) {


  .container {
    max-width: 415px !important;
  }
}